:root {
  --orange-color: #da722c;
  --dark-blue-color: #023047;
  --dark-color: #070917;
  --light-color: #fffff4;
  --light-blue-color: #7cd179;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1134px;
  margin: 0 auto;
  padding: 0 auto;
}

/* Buttons */

.btn {
  padding: 16px 32px;
  border-radius: 24px;
  color: var(--light-color);
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  scroll-behavior: smooth;
}

.btn.dark {
  background: var(--dark-blue-color);
}

.btn:hover {
  background: #5061af;
  transition:0.7s;
  color: var(--light-color);
}

.btn.light {
  background: var(--dark-blue-color);
}

.btn.enrol-icon::before {
  content: url("images/enrol-now-icon.svg");
  position: absolute;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
}

.btn.enrol-icon {
  padding-left: 60px;
}

/* Header */

header {
  background: linear-gradient(180deg, #7cd179 0%, #0d7026 100%);
  height: 100vh;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:absolute;
  width: 1134px;
  top: 0;
  padding: 36px 0;
  z-index: 100;
  transition: all 500ms ease;
}

/* nav.scrolled {
  background: var(--light-blue-color);
  box-shadow: 0 16px 14px -8px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 8px 8px;
  top: 0;
  padding: 12px;
} */

nav .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}

.logo h2{
  color: var(--light-color);
  font-size: 35px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 60px;
  list-style: none;
  margin: 0;
}

nav ul li a {
  font-weight: bold;
  font-size: 16px;
  color: var(--light-color);
  text-decoration: none;
}

nav ul li a:hover {
  color: var(--dark-blue-color);
  transition: 0.7s;
}

/* Section à propos*/

.apropos-section {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  position: relative;
  color: var(--light-color);
}

.apropos-section .left h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 50px;
  line-height: 125%;
  margin-bottom: 0;
}

.apropos-section .left p {
  font-weight: normal;
  font-size: 16px;
  line-height: 200%;
  margin-bottom: 30px;
  width: 457px;
}

.apropos-section .left {
  flex: 1;
  padding-bottom: 35px;
}

.apropos-section .right {
  align-self: auto;
}

.apropos-section .right img {
  height: 370px;
  border-radius: 24px;
  vertical-align: middle;
  box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
}

.apropos-section .btn-mobile{
  display: none;
}

/* Section services */

section {
  margin-top: 100px;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 120%;
  margin: 0;
  color: var(--dark-blue-color);
}

h2.light {
  color: var(--light-color);
}

section p {
  font-weight: normal;
  font-size: 16px;
  line-height: 200%;
  color: var(--dark-blue-color);
  margin: 12px 0;
}

.titre h2 {
  text-align: center;
}

.services-section {
  display: flex;
  gap: 100px;
  align-items: center;
}

/* .services-section .mobile-btn {
  display: none;
} */

.galerie1 {
  margin: 100px auto 0;
  padding: 0 20px;
  max-width: 1134px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-gap: 20px;
  justify-content: center;
}

.galerie1 .item{
  min-height: 300px;
  background: linear-gradient(140deg, #0d7026 0%, #7cd179 100%);
  color: var(--light-color);
  padding: 20px;
  border-radius: 24px;
  box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.galerie1 .item i {
  color: var(--light-color);
  font-size: 25px;
}

.galerie1 .item p {
  color: #023047;
  line-height: 30px;
}

.services-section .features {
  margin-bottom: 30px;
}

/* Section réalisations */

.rea-section {
  background: linear-gradient(180deg, #7cd179 0%, #0d7026 100%);
  padding: 70px 0;
  padding-bottom: 120px;
}

.rea-section h2 {
  text-align: center;
}

.rea-section .wrapper {
  position: relative;
  flex: 1;
}

.rea-section .wrapper .btn {
  position: absolute;
  right: 0;
}

.galerie3 {
  margin: 100px auto 0;
  padding: 0 20px;
  max-width: 1134px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 520px);
  grid-gap: 35px;
  justify-content: center;
}

.galerie3 .item{
  height: 400px;
  background: var(--light-color);
  color: var(--light-color);
  padding: 0px;
  border-radius: 24px;
  box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
  text-align: left;
  overflow: hidden;
  position: relative;
}

.galerie3 .img1 {
  margin-top: -190px;
  height: 185%;
}

.galerie3 .img2 {
  height: 100%;
}

.galerie3 .img3 {
  height: 100%;
}

.galerie3 .img4 {
  height: 100%;
}

.galerie3 .item .banniere {
  position:absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2.2%;
  height: 15%;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0);
  opacity: 70%;
}

.galerie3 .item .banniere p{
  position:relative;
  text-align: center;
  font-size: 20px;
  color: var(--light-color);
  margin: 0 auto;
}

.btn-rea {
  margin-top: 60px;
  padding: 16px 32px;
  border-radius: 24px;
  color: var(--light-color);
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  scroll-behavior: smooth;
  background-color: var(--dark-blue-color);
  position: relative;
  left: 30px;
}

.btn-rea:hover{
  background: #5061af;
  transition: 0.7s;
}

.btn-contact a{
  margin-right: 30px;
}

/* Section retrouvez-nous */

.map-section {
  text-align: center;
}

.galerie2 {
  margin: 100px auto 0;
  padding: 0 20px;
  max-width: 1134px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 30px;
  justify-content: center;
}

.galerie2 .item {
  min-height: 450px;
  padding: 0 auto;
  border-radius: 24px;
  box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
  text-align: left;
  overflow: hidden;
}

.galerie2 .item iframe {
  height: 100%;
}

/* Footer */

footer {
  background: var(--dark-color);
  color: var(--light-color);
  margin-top: 100px;
  padding: 70px 0;
}

footer a {
  text-decoration: none;
  color: var(--light-color);
}

footer a:hover{
  color: #5061af;
  transition: 0.7s;
}

footer h3 {
  color: var(--light-color);
}

footer ul {
  list-style: none;
  padding-left: 0px;
}

footer ul li {
  margin: 16px 0;
}

footer .links-container {
  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
}

footer .social {
  margin-left: 0px;
}

footer .social a {
  margin-right: 28px;
}

footer form {
  margin-left: 0px;
  margin-top: 16px;
  position: relative;
  box-shadow: 0px 9px 16px rgba(121, 120, 120, 0.2);
  margin-bottom: 40px;
}

footer form input {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 00%;
  border-radius: 8px;
  padding: 8px 160px 8px 32px;
  border: none;
  width: 100%;
  color: #000000;
}

footer form .submit-btn {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: var(--dark-blue-color);
  border-radius: 8px;
  padding: 9px 32px 8px 32px;
  border: 0;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: var(--light-color);
  cursor: pointer;
}

.submit-btn:hover{
  background: #5061af;
  transition: 0.7s;
}

.submit-btn a:hover{
  color: var(--light-color);
}

footer .copyright {
  margin-top: 70px;
  padding-bottom: 30px;
}

nav.mobile-nav,
.mobile-menu-container {
  display: none;
}

.links .telephone{
  margin-top: 40px;
}

.telephone .tel-btn{
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: var(--dark-blue-color);
  border-radius: 8px;
  padding: 8px 32px;
  border: 0;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: var(--light-color);
  cursor: pointer;
  margin-right: 20px;
  box-shadow: 0px 9px 16px rgba(121, 120, 120, 0.2);
}

.tel-btn:hover{
  background: #5061af;
  transition: 0.7s;
}

.tel-btn a:hover{
  color: var(--light-color);
}

@media (max-width: 1100px) {
  .btn {
    padding: 12px 32px;
  }

  .wrapper {
    padding: 0 100px;
  }

  nav {
    width: 100%;
    left: 0;
    right: 0;
    padding: 36px 100px;
  }

  nav.scrolled {
    padding: 16px 100px;
  }

  nav ul li a {
    font-size: 15px;
  }

  nav ul li .btn{
    font-size: 15px;
  }

  header{
    height: 135vh;
  }

  .logo h2{
    font-size: 35px;
  }

  header,
  .apropos-section,
  header .wrapper {
    max-height: 1500px;
  }

  .apropos-section {
    flex-direction: column;
    padding: 120px 0 120px 0;
  }

  .apropos-section .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 70px;
  }
  
  .apropos-section .left a {
    display: none;
  }

  .apropos-section .left .btn {
    align-self: flex-start;
  }

  .apropos-section .left h1 {
    font-size: 50px;
    line-height: 125%;
  }

  .apropos-section .btn-mobile{
    margin-top: 60px;
    display: flex;
  }

  h2 {
    font-size: 40px;
  }

/* Section services */

  .services-section {
    flex-direction: column;
    align-items: stretch;
    gap: 50px;
  }

  .services-section .desktop-btn {
    display: none;
  }

  .services-section .mobile-btn {
    display: block;
    align-self: flex-end;
    order: 3;
  }

  .services-section .right {
    order: 1;
  }

  .services-section .left {
    order: 2;
  }

  .services-section .right p {
    display: inline;
  }

  .services-section h2 {
    margin-bottom: 20px;
  }

/* Section nos réalisations */

  /* .rea-section{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 50px;
  } */

  .rea-section h2 {
    margin-bottom: 0px;
  }

  .rea-section .course-card img {
    height: 260px;
    object-fit: cover;
  }

  .rea-section .course-card h3 {
    font-size: 24px;
  }

  .btn-rea{
    left: 0px;
  }

  .rea-section .course-card:last-child {
    margin-bottom: 50px;
  }

  footer .links-container {
    grid-template-columns: 1fr 1fr;
  }

  footer .links-container .links:last-child {
    grid-column: 1 / 3;
  }
}

/* Section nous retrouver */

.galerie2 .item iframe {
  width: 100%;
}

@media (max-width: 1000px){
  nav .logo h2{
    font-size: 30px;
  }

  nav ul li a{
    font-size: 13px;
  }

  nav ul li .btn{
    font-size: 13px;
  }
}

@media (max-width: 900px) {
  nav {
    display: none;
  }

  nav.mobile-nav {
    display: flex;
  }

  nav.mobile-nav.scrolled {
    padding: 8px 100px;
    background: var(--light-blue-color);
    box-shadow: 0 9px 21px -5px rgba(0, 0, 0, 0.3);
  }

  .mobile-nav .menu-icon{
    cursor: pointer;
  }

  .mobile-nav .menu-icon h2{
    color: var(--light-color);
  }

  .apropos-section .left h1{
    text-align: center;
  }

  .apropos-section .left p{
    text-align: center;
  }

  .mobile-menu-container.active {
    left: 0;
  }

  .mobile-menu-container .close-icon {
    position: fixed;
    top: 32px;
    right: 100px;
    opacity: 0;
    pointer-events: none;
    transition: all 400ms ease;
  }

  .mobile-menu-container.active .close-icon {
    opacity: 1;
    pointer-events: auto;
  }
}

/* Insertion du css pour menu mobile */

@media (max-width: 900px) {
  nav {
    display: none;
  }

  nav.mobile-nav {
    display: flex;
    position: fixed;
    height: 70px;
  }

  nav.mobile-nav.scrolled {
    padding: 8px 100px;
    background: var(--light-blue-color);
    box-shadow: 0 9px 21px -5px rgba(0, 0, 0, 0.3);
  }

  .mobile-menu-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 100%;
    background: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
    transition: all 400ms ease;
  }

  .mobile-menu-container.active {
    left: 0;
  }

  .mobile-menu-container .close-icon {
    position: fixed;
    top: 32px;
    right: 100px;
    opacity: 0;
    pointer-events: none;
    transition: all 400ms ease;
  }

  .mobile-menu-container.active .close-icon {
    opacity: 1;
    pointer-events: auto;
  }

  .mobile-menu-container.active .close-icon:hover {
    cursor: pointer;
  }


  .close-icon h2{
    color: var(--light-color);
  }

  .mobile-menu-container ul {
    list-style: none;
    padding: 0;
  }

  .mobile-menu-container ul li {
    margin: 30px 0;
    text-align: center;
  }

  .mobile-menu-container ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }

  .mobile-menu-container ul li .jsuistropbeau:hover {
    color: #5061af;
    transition: 0.7s;
  }
  
/* Fin du css pour menu mobile */

@media (max-width: 700px) {

  .wrapper {
    padding: 0 32px;
  }

  header{
    height: 115vh;
  }

  .apropos-section .left p {
    width: 100%;
  }

  /* .apropos-section h1 {
     font-size: 2px; 
  } */

.apropos-section .right img{
  width: 420px;
  height: auto;
}

  .app-section .app-buttons {
    flex-direction: column;
  }

  nav.mobile-nav {
    padding: 32px;
  }

  nav.mobile-nav.scrolled {
    padding: 8px 32px;
  }

  .mobile-menu-container .close-icon {
    right: 32px;
  }

  .apropos-section .left h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 30px;
  }

  .galerie3 {
    grid-template-columns: repeat(auto-fill, 350px);
  }

  .galerie3 .item{
    height: 300px;
  }

  .galerie3 .item .banniere p{
    font-size: 15px;
  }

  .galerie2 {
    grid-template-columns: repeat(auto-fill, 350px);
  }

  footer .links-container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 40px;
  }

footer .links form{
  margin-bottom: 100px;
}

  footer form input {
    padding: 8px 32px;
  }

  footer .links-container .links:last-child {
    grid-column: 1 / 2;
  }

  footer ul {
    padding: 0;
  }

  footer form .submit-btn {
    top: 130%;
    left: 50%;
    transform: translateX(-50%);
  }

  footer .copyright {
    margin-top: 80px;
    text-align: center;
  }
}

.telephone {
  margin-top: 100px;
}

.submit-btn {
  padding: 8px 20px;
}
}

@media (max-width: 550px){
  header{
    height: 120vh;
  }
}

@media (max-width: 450px){

  .apropos-section .btn-mobile{
    margin-top: 45px;
  }

  .apropos-section .left h1{
    margin-top: 0px;
  }

  header{
    height: 200vh;
  }

  .apropos-section .right img{
    width: 300px;
  }

  .galerie1{
    grid-template-columns: repeat(auto-fill, 300px);
  }

  .galerie3{
    grid-template-columns: repeat(auto-fill, 300px);
  }

  .galerie2{
    grid-template-columns: repeat(auto-fill, 300px);
  }

  .links form .submit-btn{
    width: 200px;
  }

  .telephone .tel-btn{
    margin-top: 30px;
  }
}

@media (max-width: 435px){
  header{
    height: 150vh;
  }
}
